<article class="twelve cell" guard-root guard-ignore-template>
	<form class="row">
		<div class="row">
			<label class="two cell center"><i18n>support.ticket.category</i18n></label>
			<span class="ten cell">
				<select ng-model="ticket.category"
					ng-init="ticket.category = ticket.category || apps[0].address"
					ng-options="app.address as app.displayName for app in apps | orderBy:'displayName'">
				</select>
			</span>
		</div>
		<div class="row" ng-hide="schools.length === 1">
			<label class="two cell center"><i18n>support.ticket.school</i18n></label>
			<span class="ten cell">
				<select ng-model="ticket.school_id"
					ng-init="ticket.school_id = schools[0].id"
					ng-options="school.id as school.name for school in schools | orderBy:'name'">
				</select>
			</span>
		</div>
		<div class="row">
			<label class="two cell center"><i18n>support.ticket.subject</i18n></label>
			<input class="ten cell" type="text" ng-model="ticket.subject" input-guard/>
		</div>
		<div class="row">
			<label class="two cell center"><i18n>support.ticket.description</i18n></label>
			<div class="ten cell" input-guard>
				<textarea ng-model="ticket.description" ng-if="!isRichEditorActivated" input-guard></textarea>
				<editor ng-model="ticket.description" ng-if="isRichEditorActivated" input-guard></editor>
			</div>
		</div>
		<div class="row ">
			<div class="two cell">&nbsp;
			</div>
			<div class="ten cell">
				<!--Attachment button-->
				<button class="editEvent-attachments-buttonSection-button left-magnet" ng-click="openAttachmentLightbox()" ng-disabled="ticket.processing === true">
					<i class="attachment"></i>
					<i18n>support.attachment</i18n>
				</button>
				<!--List of attachment files-->
				<div class="editEvent-attachments-fileSection row">
					<div ng-repeat="attachment in ticket.newAttachments"
						 class="right-spacing three cell bottom-spacing editEvent-attachments-fileSection-list">
						<div class="editEvent-attachments-fileSection-list-item ">
							<div ng-click="downloadAttachment(ticket, attachment)"
								 class="editEvent-attachments-fileSection-list-item-title">
								[[attachment.metadata.filename]]
							</div>
							<i ng-hide="ticket.processing === true" class="cross top-spacing horizontal-margin-small
				    editEvent-attachments-fileSection-list-item-cross"
							   ng-click="removeDocumentFromAttachments(attachment._id)"></i>
							<span class="tooltip-title left-spacing-small">[[attachment.metadata.filename]]</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div ng-if="!ticket.processing">
				<button class="right-magnet" ng-if="isEscalationActivated && canEscalate(ticket)" reset-guard="createAndEscalateTicket()" translate content="support.ticket.save.and.escalate"></button>
				<button class="right-magnet" reset-guard="createTicket()" guard-ignore-template translate content="support.ticket.save"></button>
				<button class="right-magnet cancel" navigation-trigger="cancelCreateTicket()" translate content="support.ticket.cancel"></button>
			</div>
			<button ng-if="ticket.processing === true" class="right-magnet disabled"><i18n>support.ticket.processing</i18n>&nbsp;<i class="loading"></i></button>
		</div>
	</form>
</article>

<div ng-include="'/support/public/template/add-attachment-lightbox.html'"></div>
