<div class="flex-row f-column">
    <div class="cell checkbox-filters right-spacing" ng-if="schools.length > 1">
        <i18n class="right-spacing">support.ticket.school</i18n>
        <select ng-model="display.filters.school_id" ng-change="onStatusChange()">
            <option ng-selected="display.filters.school_id === '*'" value="*">[[ lang.translate('support.ticket.filter.allschools') ]]</option>
            <option ng-selected="display.filters.school_id === school.id" ng-repeat="school in schools | orderBy:'name'" value="[[school.id]]">[[school.name]]</option>
        </select>
    </div>
    <div class="cell checkbox-filters">
        <div class="cell">
            <i18n>support.filter.tickets.by.status</i18n>
        </div>
        <ul>
            <li>
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters.all" ng-change="switchAll()" />
                    <i18n>support.ticket.status.all</i18n>
                </label>
            </li>
            <li ng-repeat="status in statuses">
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters[[status.value]]" ng-change="onStatusChange()" />
                    <i18n>[[status.i18nValue]]</i18n>
                </label>
            </li>
            <li ng-if="userIsLocalAdmin()">
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters.mydemands" ng-change="onStatusChange()" />
                    <i18n>support.ticket.status.my.demands</i18n>
                </label>
            </li>
            <li ng-if="userIsLocalAdmin()">
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters.otherdemands" ng-change="onStatusChange()" />
                    <i18n>support.ticket.status.other.demands</i18n>
                </label>
            </li>
        </ul>
    </div>
</div>

