<div class="flex-row f-column">
    <div class="cell checkbox-filters right-spacing" ng-if="schools.length > 1">
        <i18n class="right-spacing">support.ticket.school</i18n>
        <select ng-model="display.filters.school_id" ng-change="onStatusChange()">
            <option ng-selected="display.filters.school_id === '*'" value="*">[[ lang.translate('support.ticket.filter.allschools') ]]</option>
            <option ng-selected="display.filters.school_id === school.id" ng-repeat="school in schools | orderBy:'name'" value="[[school.id]]">[[school.name]]</option>
        </select>
    </div>
    <div class="cell two min-width-search-bar">
        <div class="search-bar">
            <i class="search" style="margin: 0; padding:20px;"></i>
            <input class="eight search-input"
                   type="text"
                   ng-model="display.filters.ticket_id"
                   ng-keyup="$event.keyCode == 13 ? inputSearchTicketNumber(display.filters.ticket_id) : setNotFoundFalse()"
                   i18n-placeholder="support.ticket.search.number">
        </div>
    </div>
    <div class="cell vertical-spacing" ng-if="notFoundSearchInput">
        <span class="warning"><i18n>support.ticket.search.notFound1</i18n>[[ display.filters.ticket_id ]]<i18n>support.ticket.search.notFound2</i18n></span>
    </div>
    <div class="cell checkbox-filters vertical-spacing">
        <div class="cell">
            <i18n>support.filter.tickets.by.status</i18n>
        </div>
        <ul>
            <li>
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters.all" ng-change="switchAll()" />
                    <i18n>support.ticket.status.all</i18n>
                </label>
            </li>
            <li ng-repeat="status in statuses">
                <label class="checkbox cell"><input type="checkbox" ng-model="display.filters[[status.value]]" ng-change="onStatusChange()" />
                    <i18n>[[status.i18nValue]]</i18n>
                </label>
            </li>
        </ul>
    </div>
    <div class="cell checkbox-filters" ng-if="userIsLocalAdmin()">
        <div class="cell">
            <i18n>support.filter.tickets.other</i18n>
        </div>
        <ul>
            <li>
                <directive-label-share
                        name="myDemandsLabel"
                        on-sort="changeDemands('mydemands')"
                        is-checked="display.filters.mydemands">
                </directive-label-share>
            </li>
            <li>
                <directive-label-share
                        name="otherDemandsLabel"
                        on-sort="changeDemands('otherdemands')"
                        is-checked="display.filters.otherdemands">
                </directive-label-share>
            </li>
        </ul>
    </div>
</div>

